<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Kalam&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <title>Edit Profile Page</title>
</head>
<body>
    <div class="headernav">
    <header>
        <h1>Edit Profile</h1>
    </header>
    <nav>
        <h4><a href="/">Home</a></h4>
        <h4><a href="/users/profile/<%=user.id%>">Profile</a></h4>
    </nav>
    </div>
    <div class="content">
        <div class="inputpage">
            <form action="/users/profile/<%=user.id%>/edit?_method=PUT" method="POST">
                <div>
                    <div class="input">
                        <p>Name: </p><input type="text" name="name" value="<%=user.name%>">
                    </div>
                    <div class="input">
                        <p>Username: </p><input type="text" name="username" value="<%=user.username%>">
                    </div>
                    <div class="input">
                        <p>Password: </p><input type="text" name="password" value="<%=user.password%>">
                    </div>
                    <br/>
                    <div>
                        <input type="submit">
                    </div>
                    <br/>
                </div>
            </form>
            <form action="/users/profile/<%=user.id%>/edit?_method=DELETE" method="POST">
                <input type="submit" value="Delete Profile">
            </form>
        </div>
    </div>
    <footer>
        <h3>Made with &hearts; by Paul</h3>
    </footer>
</body>
</html>