<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Edit Profile Page</title>
</head>
<body>
    <div class="headernav">
    <header>
        <h1>Edit Profile</h1>
    </header>
    <nav>
        <h4><a href="/">Home</a></h4>
        <h4><a href="/users/profile/<%=user.id%>">Profile</a></h4>
    </nav>
    </div>
    <div class="content">
        <form action="/users/profile/<%=user.id%>/edit?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%=user.name%>">
            <br/>
            <br/>
            Username: <input type="text" name="username" value="<%=user.username%>">
            <br/>
            <br/>
            Password: <input type="text" name="password" value="<%=user.password%>">
            <br/>
            <br/>
            <input type="submit">
            </form>
            <form action="/users/profile/<%=user.id%>/edit?_method=DELETE" method="POST">
                <input type="submit" value="Delete">
            </form>
    </div>
    <footer>

    </footer>
</body>
</html>