<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <header>
        <h1><%=user.name%>'s Grocery List!</h1>
    </header>
    <nav>
        <h4><a href="/">Home</a></h4>
        <h4><a href="/users/profile/<%=user.id%>/edit">Edit Profile</a></h4>
    </nav>
    <section>
        <h3>Grocery List:</h3>
        <ul>
            <%for(let i = 0; i < grocery_item.length; i++) {%>
            <li>
                <input type="checkbox" name="checkbox">
                <p><%=grocery_item[i].name%></p>
                <p><%=grocery_item[i].section%></p>
                <form action="/users/items/<%=user.id%>/<%=grocery_item[i].id%>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete">
                </form>
            </li>
            <%}%>
        </ul>
        <h3>Add Grocery Item:</h3>
        <form action="/users/items/<%=user.id%>" method="POST">
            <input type="text" name="name">
            <select name="section">
                <%for(let i = 0; i < store_section.length; i++) {%>
                    <option value="<%=store_section[i].name%>"><%=store_section[i].name%></option>
                <%}%>
            </select>
            <input type="submit" value="Add Item">
        </form>
    </section>
    <footer>

    </footer>
</body>
</html>